body {
  font-family: Arial, sans-serif;
  background-image: url('https://w0.peakpx.com/wallpaper/484/769/HD-wallpaper-space-stars-purple-sky-space-stars-sky-purple-nature.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#what{
  height: 60px;
  width: 170px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Styling for login form */
#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  background-color: #4caf50;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 40px;
}

/* Styling for register form */
#registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  background-color: #2196f3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 40px;
}


